@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Righteous');

/* reset default styling */

html, 
body, 
div, 
span, 
p, 
ul, 
li, 
a, 
main, 
article, 
section, 
footer, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
} 

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* CSS variables */

:root {
  --light-gray: #f1f1f1;
  --purple: #800080;
  --stone: #888c8d;
  --beige: #f5f5dc;
  --white: #fff;
  --dim-gray: #696969;
  --black: #292929;
  --lavender: #e6e6fa;
  --orange: #ffa500;
  --dark-orange: #fb9c37;
  --light-orange: #ffd06f;
  --light-blue: #1e90ff;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--lavender);
  font-family: 'Questrial', sans-serif;
}

/* disable on mobile version */

.navigation .link-lists__desktop,
.navigation .link-lists__mobile {
  display: none;
}

.navigation, 
.main, 
.experiences-projects, 
.footer,
.footer .body .link-group,
.main .about-me {
  display: grid;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0;
  left: 0;
  z-index: 200;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  justify-items: center;
  background-color: var(--purple);
  box-sizing: border-box;
}

.navigation .logo a {
  font-size: 1.2rem;
  font-family: 'Righteous', sans-serif;
  color: var(--light-gray);
}

.hamburger {
  grid-column: 3/4;
}

.hamburger .hamburger-menu {
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: var(--light-gray);
  transition: .2s;
}

.hamburger .hamburger-menu:before, 
.hamburger .hamburger-menu:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: var(--light-gray);
  transition: .2s;
}

.hamburger .hamburger-menu:before {
  top: -10px;
}

.hamburger .hamburger-menu:after {
  top: 10px;
}

.hamburger.active .hamburger-menu {
  background-color: rgba(0, 0, 0, 0);
}

.hamburger.active .hamburger-menu:before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active .hamburger-menu:after {
  transform: rotate(-45deg);
  top: 0;
}

.main {
  margin-top: 4rem;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.main .my-avatar img {
  width: 50%;
  display: block;
  margin: 2rem auto;
  border-radius: 49%;
  box-shadow: 0 0 1rem var(--light-gray);
}

.main .about-me .wrapper {
  margin: 0 2rem 2rem 2rem;
}

.main .about-me .wrapper h3 {
  text-align: center;
  padding: .5rem;
  font-size: 1.5rem;
}

.main .about-me .wrapper p {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
}

.experiences-projects {
  background-color: var(--stone);
  padding: 1rem;
}

.experiences-projects > section {
  margin: 2rem 1rem;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--dim-gray);
}

.experiences-projects .section-a, 
.experiences-projects .section-b, 
.experiences-projects .section-c {
  background-color: var(--light-orange);
  color: var(--black);
  /* box-shadow: 0 0 1.2rem var(--white); */
}

.experiences-projects .section-a img,
.experiences-projects .section-b img,
.experiences-projects .section-c img {
  width: 100%;
  height: 9.5rem;
}

.experiences-projects .section-a h1, 
.experiences-projects .section-b h1, 
.experiences-projects .section-c h1 {
  padding: 1rem 1em 0 1rem;
}

.experiences-projects .section-a p, 
.experiences-projects .section-b p, 
.experiences-projects .section-c p {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
}

.footer {
  /* height: 50vh; */
  grid-gap: 1rem;
  padding: 1rem; 
  justify-items: center;
  align-items: center;
  color: var(--light-gray);
  background-color: var(--dim-gray);
}

.footer .body .link-group {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.footer .body .link-group .link-item a {
  color: var(--light-gray);
  font-size: .8rem;
}


.footer .copyright p {
  font-family: 'Righteous', sans-serif;
}